<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body class='text-light bg-dark'>
    <div class="container">
        <header class=" p-5">
            <h1>My Movies</h1>
        </header>
        @RenderBody()
    </div>
</body>
</html>
